<div class="grid-item size11 photography">
    <div class="grid-box">
        <figure class="portfolio-figure">
            <img src="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-01-289x281.jpg" alt=""/>
            <figcaption class="portfolio-caption">
                <div class="portfolio-caption-inner">
                    <h3 class="portfolio-title">Features Photography</h3>
                    <h4 class="portfolio-cat">Photography</h4>

                    <div class="btn-group">
                        <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox4" href="#portfolio4-inline1"><i class="rsicon rsicon-eye"></i></a>
                        <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox4" href="#portfolio4-inline2"></a>
                    </div>
                </div>
            </figcaption>
        </figure>

        <!-- Start: Portfolio Inline Boxes -->
        <div id="portfolio4-inline1" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="image" data-embed-url="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-01-large.jpg"></div>
            <div class="inline-cont">
                <h2 class="inline-title">Features Photography</h2>
                <div class="inline-text">
                    <p>The methods for creating poetic rhythm vary across languages and between poetic traditions. Languages are often described as having timing set primarily by 
					accents, syllables, or moras, depending on how rhythm is established, though a language can be influenced by multiple approaches.</p>
                </div>
            </div>
        </div>

        <div id="portfolio4-inline2" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="iframe" data-embed-url="https://www.dailymotion.com/embed/video/x314rdy"></div>
            <div class="inline-cont">
                <h2 class="inline-title">Magazine Fashion Films - Introducing W Model Search Winner Alexis Primous</h2>
                <div class="inline-text">
                    <p>Metrical rhythm generally involves precise arrangements of stresses or syllables into repeated patterns called feet within a line. In Modern English verse 
					the pattern of stresses primarily differentiate feet, so rhythm based on meter in Modern English is most often founded on the pattern of stressed and unstressed 
					syllables (alone or elided). </p>
                </div>
            </div>
        </div>
        <!-- End: Portfolio Inline Boxes -->
    </div>
</div><!-- .grid-item -->

<div class="grid-item size11 nature">
    <div class="grid-box">
        <figure class="portfolio-figure">
            <img src="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-02-289x281.jpg" alt=""/>
            <figcaption class="portfolio-caption">
                <div class="portfolio-caption-inner">
                    <h3 class="portfolio-title">Landscape</h3>
                    <h4 class="portfolio-cat">Nature</h4>

                    <div class="btn-group">
                        <a class="btn-link" href="http://bit.ly/1YtB8he" target="_blank"><i class="rsicon rsicon-link"></i></a>
                        <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox5" href="#portfolio5-inline1"><i class="rsicon rsicon-eye"></i></a>
                        <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox5" href="#portfolio5-inline2"></a>
                    </div>
                </div>
            </figcaption>
        </figure>

        <!-- Start: Portfolio Inline Boxes -->
        <div id="portfolio5-inline1" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="image" data-embed-url="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-02-large.jpg"></div>
        </div>

        <div id="portfolio5-inline2" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="video">
                <video poster="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/media/echo-hereweare.jpg" controls="controls" preload="none">
                    <source type="video/mp4" src="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/media/echo-hereweare.mp4" />
                    <source type="video/webm" src="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/media/echo-hereweare.webm" />
                    <source type="video/ogg" src="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/media/echo-hereweare.ogv" />
                </video>
            </div>
			<div class="inline-cont">
				<div class="inline-text">
					<p>In the broadest sense, is the natural, physical, or material world or universe. "Nature" can refer to the phenomena of the physical world, and also 
					to life in general. The study of nature is a large part of science. Although humans are part of nature, human activity is often understood as a separate category 
					from other natural phenomena.</p>
				</div>
			</div>
		</div>
        <!-- End: Portfolio Inline Boxes -->
    </div>
</div><!-- .grid-item -->

<div class="grid-item size11 nature">
    <div class="grid-box">
        <figure class="portfolio-figure">
            <img src="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-03-289x281.jpg" alt=""/>
            <figcaption class="portfolio-caption">
                <div class="portfolio-caption-inner">
                    <h3 class="portfolio-title">Dream Forest</h3>
                    <h4 class="portfolio-cat">Nature</h4>

                    <div class="btn-group">
						<a class="btn-link" href="http://bit.ly/1YtB8he" target="_blank"><i class="rsicon rsicon-link"></i></a>
                        <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox6" href="#portfolio6-inline1"><i class="rsicon rsicon-eye"></i></a>
                        <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox6" href="#portfolio6-inline2"><i class="rsicon rsicon-eye"></i></a>
                    </div>
                </div>
            </figcaption>
        </figure>

        <!-- Start: Portfolio Inline Boxes -->
        <div id="portfolio6-inline1" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="image" data-embed-url="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-03-large.jpg"></div>
        </div>
		
		<div id="portfolio6-inline2" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="iframe" data-embed-url="https://www.youtube.com/embed/mZb_gat5YCY"></div>
			<div class="inline-cont">
				<h2 class="inline-title">Beautiful Nature</h2>
				<div class="inline-text">
					<p>Human society and forests influence each other in both positive and negative ways. Forests provide ecosystem services to humans and serve as tourist 
					attractions. Forests can also impose costs, affect people's health, and interfere with tourist enjoyment. Human activities, including harvesting forest 
					resources, can negatively affect forest ecosystems.</p>
				</div>
			</div>
		</div>
        <!-- End: Portfolio Inline Boxes -->
    </div>
</div><!-- .grid-item -->

<div class="grid-item size11 photography">
    <div class="grid-box">
        <figure class="portfolio-figure">
            <img src="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-10-289x281.jpg" alt=""/>
            <figcaption class="portfolio-caption">
                <div class="portfolio-caption-inner">
                    <h3 class="portfolio-title">Bicycle</h3>
                    <h4 class="portfolio-cat">Photography</h4>

                    <div class="btn-group">
                        <a class="btn-link" href="http://bit.ly/1YtB8he" target="_blank"><i class="rsicon rsicon-link"></i></a>
                    </div>
                </div>
            </figcaption>
        </figure>        
    </div>
</div><!-- .grid-item -->

<div class="grid-item size22 photography">
    <div class="grid-box">
        <figure class="portfolio-figure">
            <img src="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-09-610x600.jpg" alt=""/>
            <figcaption class="portfolio-caption">
                <div class="portfolio-caption-inner">
                    <h3 class="portfolio-title">Features Photography</h3>
                    <h4 class="portfolio-cat">Photography</h4>

                    <div class="btn-group">
                        <a class="btn-link" href="http://bit.ly/1YtB8he" target="_blank"><i class="rsicon rsicon-link"></i></a>
                        <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox8" href="#portfolio8-inline1"><i class="rsicon rsicon-eye"></i></a>
						<a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox8" href="#portfolio8-inline2"></a>
                    </div>
                </div>
            </figcaption>
        </figure>

        <!-- Start: Portfolio Inline Boxes -->
        <div id="portfolio8-inline1" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="image" data-embed-url="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-09-large.jpg"></div>
        </div>
		
		<div id="portfolio8-inline2" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="image" data-embed-url="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-05-large.jpg"></div>
        </div>
        <!-- End: Portfolio Inline Boxes -->
    </div>
</div><!-- .grid-item -->

<div class="grid-item size11 photography">
    <div class="grid-box">
        <figure class="portfolio-figure">
            <img src="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-06-289x281.jpg" alt=""/>
            <figcaption class="portfolio-caption">
                <div class="portfolio-caption-inner">
                    <h3 class="portfolio-title">Street Photography</h3>
                    <h4 class="portfolio-cat">photography</h4>

                    <div class="btn-group">
                        <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox9" href="#portfolio9-inline1"><i class="rsicon rsicon-eye"></i></a>
                    </div>
                </div>
            </figcaption>
        </figure>

        <!-- Start: Portfolio Inline Boxes -->
        <div id="portfolio9-inline1" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="image" data-embed-url="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-06-large.jpg"></div>
            <div class="inline-cont">                
                <div class="inline-text">
                    <p>The methods for creating poetic rhythm vary across languages and between poetic traditions. Languages are often described as having timing set primarily by 
					accents, syllables, or moras, depending on how rhythm is established, though a language can be influenced by multiple approaches.</p>
                </div>
            </div>
        </div>
        <!-- End: Portfolio Inline Boxes -->
    </div>
</div><!-- .grid-item -->

<div class="grid-item size11 photography">
    <div class="grid-box">
        <figure class="portfolio-figure">
            <img src="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-07-289x281.jpg" alt=""/>
            <figcaption class="portfolio-caption">
                <div class="portfolio-caption-inner">
                    <h3 class="portfolio-title">Street Photography</h3>
                    <h4 class="portfolio-cat">Photography</h4>

                    <div class="btn-group">
                        <a class="btn-link" href="http://bit.ly/1YtB8he" target="_blank"><i class="rsicon rsicon-link"></i></a>
                        <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox10" href="#portfolio10-inline1"><i class="rsicon rsicon-eye"></i></a>
                    </div>
                </div>
            </figcaption>
        </figure>

        <!-- Start: Portfolio Inline Boxes -->
        <div id="portfolio10-inline1" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="image" data-embed-url="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-07-large.jpg"></div>
        </div>
        <!-- End: Portfolio Inline Boxes -->
    </div>
</div><!-- .grid-item -->

<div class="grid-item size11 nature">
    <div class="grid-box">
        <figure class="portfolio-figure">
            <img src="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-04-289x281.jpg" alt=""/>
            <figcaption class="portfolio-caption">
                <div class="portfolio-caption-inner">
                    <h3 class="portfolio-title">The Beauty Of Nature</h3>
                    <h4 class="portfolio-cat">Nature</h4>

                    <div class="btn-group">
                        <a class="btn-link" href="http://bit.ly/1YtB8he" target="_blank"><i class="rsicon rsicon-link"></i></a>
                        <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox11" href="#portfolio11-inline1"><i class="rsicon rsicon-eye"></i></a>
                    </div>
                </div>
            </figcaption>
        </figure>

        <!-- Start: Portfolio Inline Boxes -->
        <div id="portfolio11-inline1" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="image" data-embed-url="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-04-large.jpg"></div>
            <div class="inline-cont">
                <h2 class="inline-title">The Beauty Of Nature</h2>
                <div class="inline-text">
                    <p>The word nature is derived from the Latin word natura, or "essential qualities, innate disposition", and in ancient times, literally meant "birth". 
					Natura is a Latin translation of the Greek word physis (φύσις), which originally related to the intrinsic characteristics that plants, animals, and other 
					features of the world develop of their own accord. The concept of nature as a whole, the physical universe, is one of several expansions of the original notion; 
					it began with certain core applications of the word φύσις by pre-Socratic philosophers, and has steadily gained currency ever since. This usage continued during 
					the advent of modern scientific method in the last several centuries.</p>
                </div>
            </div>
        </div>
        <!-- End: Portfolio Inline Boxes -->
    </div>
</div><!-- .grid-item -->

<div class="grid-item size11 photography">
    <div class="grid-box">
        <figure class="portfolio-figure">
            <img src="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-12-289x281.jpg" alt=""/>
            <figcaption class="portfolio-caption">
                <div class="portfolio-caption-inner">
                    <h3 class="portfolio-title">Bicycle</h3>
                    <h4 class="portfolio-cat">Photography</h4>

                    <div class="btn-group">
                        <a class="btn-link" href="http://bit.ly/1YtB8he" target="_blank"><i class="rsicon rsicon-link"></i></a>
                    </div>
                </div>
            </figcaption>
        </figure>

        <!-- Start: Portfolio Inline Boxes -->
        <div id="portfolio12-inline1" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="image" data-embed-url="<?php echo get_bloginfo('template_directory'); ?>/img/uploads/portfolio/portfolio-thumb-09-large.jpg"></div>
            <div class="inline-cont">
                <h2 class="inline-title">Features photography</h2>
                <div class="inline-text">
                    <p>Metrical rhythm generally involves precise arrangements of stresses or syllables into repeated patterns called feet within a line. In Modern English verse 
					the pattern of stresses primarily differentiate feet, so rhythm based on meter in Modern English is most often founded on the pattern of stressed and unstressed 
					syllables (alone or elided).</p>
                </div>
            </div>
        </div>
        <!-- End: Portfolio Inline Boxes -->
    </div>
</div><!-- .grid-item -->