*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

article{
    overflow: hidden;
}

::selection{
    background-color: #444;
    color: white;
}

::-moz-selection {
    background-color: #444;
    color: white;
}

body{
    font-family: poppins, sans-serif;
    margin: 0px;
}

main{
    overflow: hidden;
}

header{
    background: #00faff;
    background: linear-gradient(to right, #00faff 0%,#0041ff 100%);
}

header header{
    float: right;
    background: none;
    border: none;
}

.hamburger{
    margin-top: 60px; 
    margin-right: 25px;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    position: relative;
    display: inline-block;
}

.hamburger:hover .b{
    width: 20px;
}

.hamburger span{
    display: block;
    height: 2px;
    left: 9px;
    background: white;
}

.hamburger .a{
    position: absolute;
    top: 14px;
    width:20px; 
}

.hamburger .b{
    position: absolute;
    top: 22px;
    width: 13px;
    transition: 500ms;
}

.search{
    display: inline-block;
    margin-right: 100px;
    transform: translateY(-10px)
}
.search:hover{
    transform: matrix(1.2, 0, 0, 1.2, 0, -10);
}

.search i{
    font-size: 25px;
}

.fas,
.fab{
    color: white;
    font-size: 20px;
}

.fa-google-plus-g:hover{
    color: rgb(218, 73, 65);
}

.fa-youtube:hover{
    color: rgb(252, 12, 27);
}

.fa-twitter:hover{
    color: rgb(42, 163, 239);
}

.fa-facebook-f:hover{
    color: rgb(68, 105, 176);
}

header main{
    clear: both;
    padding-top: 140px;
    padding-bottom: 170px;
    overflow: hidden;
}

.page2 header main{
    padding: 0;
}

.container{
    width: 1170px;
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
}

header main figure{
    float: left;
    padding-left: 100px; 
    margin: 0px;
    position: relative;

}

header main img{
    height: 520px;
    width: 260px;
}
header main figure::before{
    content: '';
    display: inline-block;
    width: 227px;
    height: 401px;
    background-image: url(https://media.idownloadblog.com/wp-content/uploads/2016/08/Iconizer-GIF.gif);
    background-size: contain;
    position: absolute;
    top: 59px;
    left: 116px;
}



header main p{
    margin: 0 0 50px;
}

.contenu{
    display: inline-block;
    width: 680px;
}

.contenu2{
    display: block;
    text-align: center;
}

.contenu div,
.contenu2 p,
.contenu p,
h1{
    font-weight: lighter;
    display: inline-block;
    margin-left:80px;
    color: white;
}

.contenu2 p{
    display: block;
    margin-left: 0px;
    margin-bottom: 70px;
}

h1{
    font-size: 52px;
    letter-spacing: 3px;
}
.contenu2 h1{
    margin: 40px 0 30px;
}

.boutton{
    border: 1px solid white;
    padding: 14px 35px;
    border-radius: 4px;
    position: relative;
}

.boutton::before{
    content:'';
    display: inline-block;
    width: 0px;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    bottom: 0px;
    left: 0px;
    transition: 1000ms;
}

.boutton:hover::before{
    width: 100%;
}

header footer{
    padding-bottom: 40px;
    overflow: hidden;
}

header footer li{
    padding-left: 15px;
}

ul{
    list-style-type:none;
    margin: 0px;
}

ul li{
    display: inline-block;
}

.data{
    background-color: rgb(237, 241, 244);
    overflow: hidden;
}
.data .container{
    background-image: url(../Image/irere.png)
}

.tous{
    width: 810px;
    margin-top: 230px;
    display: inline-block;
}

.tous article{
    float: left;
    width: 335px;
    margin-right: 70px;
    margin-bottom: 80px;
}

.tous article p{
    color: #696969;
}


.screenshots h2{
    text-align: center;
    color: rgb(139, 183, 233);
    font-size: 40px;
    margin: 150px 0 35px 0;
    font-weight: lighter;
}

.howitw strong,
.screenshots strong{
    color: rgb(73, 144, 222);
    font-weight: lighter;
}

.screenshots p{
    text-align: center;
    padding: 0 290px;
    margin: 0 0 60px 0;
    color: rgb(111, 119, 135)
}

.screenshots .article{
    margin-left: 110px;
    display: inline-block;
    margin-bottom: 45px;
}

.screenshots article{
    width:220px;
    height: 400px;
    float: left;
    margin-left: 30px;
    transition: 500ms;
}

.screenshots article:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}


.screenshots article:nth-child(4n+1){
    margin-left: 0px;
}

.screenshots img{
    width: 220px;
    height: 400px;
}

.screenshots .menu2{
    clear: both;
    padding-left: 570px;
    margin-bottom: 145px;
}

.screenshots li{
    display: inline-block;
    width: 6px;
    height: 6px;
    background: rgb(116, 180, 252);
    border-radius: 50%;
    margin-bottom: 1px;
    transition: 500ms;
}

.screenshots li:hover{
    transform: scale(1.8)
}


li.selection{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 0px;
    background: rgb( 57, 146, 249);
}

.howitworks{
    background-color: rgb(238, 242, 245);
    overflow: hidden;
}

.howitworks .container{
    background-image: url(../Image/blancrere.png)
}

.howitw{
    width: 555px;
    overflow: hidden;
    margin-bottom: 260px;
}

.howitw h2{
    color: rgb(139, 183, 233);
    font-size: 40px;
    margin: 260px 0 30px 0;
    font-weight: lighter;
}

.howitw p{
    margin: 0 0 60px 0;
    color: rgb(64, 72, 90)
}


.boutton2{
    font-size: 40px;
    overflow: hidden;
}

.fa-play-circle{
    color: rgb(51, 144, 253);
    float: left;
}

.boutton2 span{
    font-size: 14px;
    color: rgb(92, 102, 125);
    display: inline-block;
    float: left;
    margin: 10px 0 0 30px;
}

.howitw span{
    position: relative;
}

@keyframes play {
    0% {width: 120px;}
    50% {width: 60px; margin-left: 30px;}
    100% {width: 120px;margin-left: 0px;}
}


.howitw span::before{
    content: "";
    display: block;
    width: 120px;
    height: 1.5px;
    background: black;
    position: absolute;
    bottom: -5px;
}
.boutton2:hover span::before{
    animation: play 800ms linear 0 2 reverse;
}



.nowavailable{
    background-image: linear-gradient(to right, #0266e6, #0079ec, #008aed, #009aec, #02a8e9);   
}

.nowavailable h2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 90px 0 25px 0;
    font-weight: lighter;
}

.nowavailable p{
    width: 555px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 14px;
}

.apps{
    margin: 40px 0 75px 370px;
    padding: 20px 0 20px 20px;
    overflow: hidden;
}

.apps img{
    transition: 500ms;
}

.apps img:hover{
    transform: scale(1.2);
}

.boutonAppstore{
    width: 156px;
    height: 48px;
    border: 1px solid black;
    border-radius: 5px;
    background: black;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right: 50px;
    transition: 500ms;
}

.boutonAppstore .fa-apple{
    font-size: 30px;
}

.boutonAppstore:hover{
    transform: scale(1.2);
}

.fa-apple{
    float: left;
    margin: 6px 0 0 10px;
}
.down{
    font-size: 12px;
    display: inline-block;
    float: left;
    margin: 5px 0 0 12px;
}
.load{
    font-size: 22px;
    display: inline-block;
    float: left;
    margin-left: 7px;
}



.client h2{
    text-align: center;
    color: rgb(139, 183, 233);
    font-size: 40px;
    margin: 150px 0 30px 0;
    font-weight: lighter;
}

.client p{
    width: 585px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    color: rgb(101, 109, 128)
}

.client .visage{
    display: block;
    width: 83px;
    height: 83px;
    border-radius: 41px;
    margin: 60px auto 20px;
    overflow: hidden;
}

.client .visage img{
    width: 83px;
    height: 83px;
}

.client .name{
    font-size: 25px;
    color: rgb(69, 143, 225);
    margin-bottom: 15px;
}
.name+p{
    font-size: 14px;
    margin-bottom: 30px;
}

.name+p+p{
    width: 750px;
}

.client .menu3{
    padding-left: 570px;
    margin: 60px 0 150px 0;
}

.client li{
    display: inline-block;
    width: 6px;
    height: 6px;
    background: rgb(116, 180, 252);
    border-radius: 3px;
    margin-bottom: 1px;
    transition: 500ms;
}

.client li:hover{
    transform: scale(1.8)
}

li.selection{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 0px;
    background: rgb( 57, 146, 249);
}

li.selection:hover{
    transform: scale(1.5)
}

.chiffres{
    background-image: linear-gradient(to right, #0dbbfe, #00acff, #009bff, #0089ff, #0d75fb);
}

.chiffres .container div{
    width: 390px;
    float: left;
    color: white;
    position: relative;
}

.chiffres .container div::before{
    content:'';
    height: 210px;
    display: block;
    width: 1px;
    position: absolute;
    background-color: white;
    top: 70px;
    transform: rotate(10deg);
}

.chiffres .container div:first-child::before{
    width: 0px;
}

.connect i{
    text-align: center;
    width: 390px;
    font-size: 50px;
    margin-top: 100px;
}

.connect p{
    width: 390px;
    text-align: center;
    font-size: 30px;
}

.connect p+p{
    font-size: 19px;
    margin-bottom: 90px;
}

.download i{
    text-align: center;
    width: 390px;
    font-size: 50px;
    margin-top: 100px;
}
.download p{
    width: 390px;
    text-align: center;
    font-size: 30px;
}

.download p+p{
    font-size: 19px;
    margin-bottom: 90px;
}

.hour i{
    text-align: center;
    width: 390px;    
    font-size: 50px;
    margin-top: 100px;
}
.hour p{
    width: 390px;
    text-align: center;
    font-size: 30px;
}
.hour p+p{
    font-size: 19px;
    margin-bottom: 90px;
}

.pricing h2{
    text-align: center;
    color: rgb(139, 183, 233);
    font-size: 40px;
    margin: 150px 0 30px 0;
    font-weight: lighter;
}

.pricing p{
    width: 585px;
    text-align: center;
    margin: 0 auto 60px;
    font-size: 14px;
    color: rgb(143, 152, 173)
}

.pricing img{
    width: 88px;
    height: 75px;
    margin: 35px auto 40px;
    display: block;
}

.pricing article p{
    width: auto;
    margin-bottom: 25px;
}

.pricing .prix{
    display: block;
    text-align: center;
    font-size: 11px;
    margin-bottom: 50px;
}

.pricing .prix span {
    font-size: 16px;
    display: inline-block;
    transform: translateY(-15px);
}

.pricing .prix span+span{
    font-size: 40px;
    display: inline-block;
    transform: translateY(0);
}

.pricing ul{
    padding: 0px;
}
.pricing li{
    display: block;
    text-align: center;
}
.pricing li i{
    color: rgb(65, 151, 253);
    margin-right: 8px;
}
.pricing li+li{
    margin-top: 15px;
}

.pricing article{
    width: 340px;
    float: left;
    border: 1px solid rgb(200, 200, 200);
    margin-bottom: 20px;
    margin-left: 12px;
    transition: 500ms;
}



.pricing article:hover{
    box-shadow: 3px 3px 10px 0px rgb(200, 200, 255);
    border: 1px solid white;
    transform: scale(1.05);
}

.pricing article+article{
    margin-left: 60px;
}

.bouttonplan2,
.bouttonplan1,
.bouttonplan{
    background: linear-gradient(to right, #2ca9fb 0%,#2ec0f7 100%);
    clear: both;
    border-radius: 25px;
    padding: 18px 50px;
    line-height: 1;
}
.bouttonplan:hover{
    background: linear-gradient(to left, #2ca9fb 0%,#2ec0f7 100%);

}

.bouttonplan1{
    background: linear-gradient(to top, #2ca9fb 0%,#2ec0f7 100%);
}
.bouttonplan1:hover{
    background: linear-gradient(to bottom, #2ca9fb 0%,#2ec0f7 100%);
}

.bouttonplan2{
    background: linear-gradient(to left, #2ca9fb 0%,#2ec0f7 100%);
}
.bouttonplan2:hover{
    background: linear-gradient(to right, #2ca9fb 0%,#2ec0f7 100%);

}

.pricing a{
    margin: 40px auto 35px;
    display: inline-block;
}

.blog{
    overflow: hidden;
}

.blog h2{
    margin: 0px;
    text-align: center;
    color: rgb(139, 183, 233);
    font-size: 40px;
    margin: 130px 0 20px 0;
    font-weight: lighter;
}
.blog p{
    width: 585px;
    text-align: center;
    margin: 0 auto 60px;
    font-size: 14px;
    color: rgb(143, 152, 173)
}
.blog article{
    width: 375px;
    float: left;
}

.blog article+article{
    margin-left: 22px;
}

.blog article img{
    width: 100%;
    height: 220px;
}
.blog span{
    font-size: 14px;
    color: rgb(106, 108, 109);
    margin-top: 20px;
    display: inline-block;
}

.blog h4{
    margin: 20px 0 30px;
    font-size: 18px;
    color: #494753;
}
.blog article p{
    width: 375px;
    text-align: left;
    color: rgb(106, 108, 109);
    margin: 0px;
}

.boutton3{
    background: linear-gradient(to right, #2ca9fb 0%,#2ec0f7 100%);
    clear: both;
    border-radius: 25px;
    padding: 18px 50px;
    line-height: 1;
}
.boutton3:hover{
    background: linear-gradient(to left, #2ca9fb 0%,#2ec0f7 100%);
}

.blog a{
    margin: 60px auto 150px;
    display: inline-block;
}
.blog article a{
    margin: 0;
}
.centrer{
    text-align: center;
}

.become{
    background: linear-gradient(to right, #4466f0 0%,#4b9ce7 100%);
    clear: both;
}
.become p{
    float: left;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    margin: 80px;
}

.boutton4{
    float:right;
    margin: 80px;
    border: 1px solid white;
    padding: 18px 50px;
    border-radius: 25px;
    font-size: 12px;
}
.boutton4:hover{
    background: rgba(255, 255, 255, 0.1)
}

footer header{
    background: rgb(37, 40, 47)
}


nav ul li+li{
    margin-top: 20px;
}

footer nav{
    margin-top: 120px;
    margin-bottom: 130px;
}

footer .container nav:first-child{
    width: 308px;
    float:left;
    color: white;
}

footer .container nav:nth-child(2){
    width: 292px;
    float: left;
    color: white;
}

footer .container nav:last-child{
    width: 570px;
    float: left;
    color: white;
}
nav ul{
    padding: 0px;
}
nav ul li{
    display: block;
    line-height: 1;
    color: grey;
}

nav ul li a{
    color: grey;
}
footer h3{
    font-size: 20px;
    font-weight: lighter;
}

footer nav p{
    width: 457px;
    color: grey;
    display: inline-block;
}

footer nav span{
    display: inline-block;
    border: 1px solid grey;
    width: 95%;
    border-radius: 60px;
    overflow: hidden;
}

footer span .form-control{
    width: auto;
    padding: 25px 30px;
    margin: 0;
    border: none;
    color: white;
    background: rgba(0, 0, 0, 0);
}

footer span a{
    float: right;
}
.sub{
    margin: 0 0 50px 0;
}
.boutton5{
    float:right;
    margin: 5px;
    padding: 21px 64px;
    border-radius: 30px;
    font-size: 12px;
    background: linear-gradient(to left, #2ca9fb 0%,#2ec0f7 100%);
}
.boutton5:hover{
    background: linear-gradient(to right, #2ca9fb 0%,#2ec0f7 100%);
}

footer footer{
    background: rgb(30, 34, 40)
}

footer footer p{
    text-align: center;
    color: grey;
    margin: 30px 0 35px;
}

footer footer span{
    color: #4f9ee0;
}

main .blogcontenu{
    width: 860px;
    margin-top: 150px;
    padding-left: 15px;
    overflow: hidden;
    display: inline-block;
    float: left;
}
main .blogcontenu article{
    display: inline-block;
    float: left;
    width: 360px;
    margin-bottom: 60px;
}



main .blogcontenu article:nth-child(2n+1){
    margin-right: 60px;
}

main .allblog{
    margin-bottom:40px;
    overflow: hidden;
}

main .blogcontenu img{
    width: 360px;
    height: 200px;
}

main .blogcontenu a{
    color: #84b0f8;
}
main .blogcontenu .date{
    font-size: 12px;
    color: #47505c;
    margin-top: 20px;
}
main .blogcontenu .titre{
    font-size: 18px;
    color: #252a30;
    margin-top: 17px;
}
main .blogcontenu .blogarticle{
    font-size: 14px;
    color: #292a33;
    margin-top: 22px;
}

aside{
    display: inline-block;
    width: 290px;
    float: left;
    margin: 140px 0 0;
}

aside span{
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;

}

aside .form-control{
    width: 90%;
    height: 40px;
    font-size: 14px;
    border: none;

}

aside input::placeholder{
    color: #2a2b2f;
}

input[type="search"] {
    -webkit-appearance: none;
}


aside span .fa-search{
    color: #2a2b2f;
    font-size: 12px;
}
aside a{
    color: #011d27;
}

aside .borde{
    overflow: hidden;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

aside .category{
    font-size:20px;
    color: #011d27;
    margin-top:60px;
    margin-bottom: 30px;
    clear: both;
}

aside .kind{
    font-size: 14px;
    display: inline-block;
    float: left;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}
aside .borde div+div{
    border-top: 1px solid #e4e4e4;
}

aside .borde div{
    overflow: hidden;
}
aside .borde a{

    overflow: hidden;
}
aside .borde div:hover{
    background: linear-gradient(to right, white 0%,rgb(230,230,230) 15%,rgb(230,230,230) 85%, white 100%);;
}

aside .number{
    font-size: 14px;
    display: inline-block;
    float: right;
    margin-top: 20px;
}

aside .post{
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: 0px;
}

aside .postdate{
    font-size: 12px;
    color: #bcbcbc;
    margin-bottom:0px;
    margin-top: 5px;
}

aside .postdate:last-child{
    margin-bottom: 20px;
}

aside .tags{
    display: inline-block;
    border: 1px solid black;
    float: left;
    padding: 10px 15px;
    font-size: 13px;
    margin-right:14px;
}
aside .tags:hover{
    background: rgb(230,230,230);
}

aside .tags:nth-child(3n){
    margin-right:0px;
}

main .navbar{
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 150px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;

}

main .navbar .selection{
    text-decoration: underline;
    color: #008aff;
}

main .navbar > * {
    color: black;
    font-size: 14px;
    padding: 3px;
    display: inline-block;
}

main .navbar a:first-child{
    margin-right: 70px;
}

main .navbar a:last-child{
    margin-left: 70px;
}

main .navbar i{
    color:black;
    font-size:10px;
    padding: 0 5px;
}

main .navbar a:hover i,
main .navbar a:hover{
    color: #008aff;
}


main .blogcontenu.blogcontenu2{
    margin-top: 100px;
}

main .blogcontenu article.description{
    display: block;
    float: none;
    width: 710px;
    margin-bottom: 0;
}
main .blogcontenu .description figure{
    margin: 0;
}
main .blogcontenu .description figure img{
    width: 100%;
    height: 285px;
}
main .blogcontenu .description h2{
    margin: 30px 0;
    font-size: 20px;
}
main .blogcontenu .description span{
    display: inline-block;
    margin-top: 40px;
    font-size: 14px;

}

main .blogcontenu .description div span{
    display: inline-block;
    margin-top: 0;
    margin-right: 40px;
    color: #bcbcbc;
    position: relative;
}

main .blogcontenu .description div span+span::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 15px;
    position: absolute;
    left: -15px;
    transform: rotate(10deg);
    background: #bcbcbc;
}

main .blogcontenu .description p{
    margin: 40px 0 0 0;
    font-size: 14px;
    color: #788a9e;
    line-height: 27px;
}

main .blogcontenu .description i{
    color: #788a9e;
    font-size: 14px;
    margin-right: 15px;
}

main .blogcontenu .description i:hover{
    color: black;
}

main .blogcontenu .description ul{
    display: inline-block;
}

main .blogcontenu .comment{
    margin-bottom: 80px;
    padding-bottom: 20px;
}

main .blogcontenu .comment h3{
    margin-top:10px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    clear: both;
}
main .blogcontenu .comment h3.contactform{
    margin-bottom: 20px;
}
main .blogcontenu .comment .allcomment{
    margin-top: 30px;
    overflow: hidden;
    font-size: 14px;
    position: relative;
}
main .blogcontenu .comment .allcomment::before{
    content: '';
    display: inline-block;
    width: 760px;
    height: 1px;
    position: absolute;
    background: #dfe5e9;
    bottom: 0px;
    left: 0px;
}
main .blogcontenu .comment .allcomment+.allcomment::before{
    display: none;
}

main .blogcontenu .comment .allcomment figure{
    width: 68px;
    height: 68px;
    float:left;
    margin:0 30px 0 0;
    padding: 0px 0 0 0;
    background: grey;
}
main .blogcontenu .comment .allcomment figure img{
    width: 68px;
    height: 68px;
}

main .blogcontenu .comment .allcomment div{
    float:left;
    width: 570px;
}
main .blogcontenu .comment .allcomment div p{
    margin-top: 0;
    margin-bottom: 20px;
}
main .blogcontenu .comment .allcomment div a p{
    color: black;
}
main .blogcontenu .comment .allcomment div a p:hover{
    text-decoration: underline;
}
main .blogcontenu .comment .allcomment div p+p{
    color: #788a9e;

}

main .blogcontenu .comment .allcomment div span{
    color: #5e6d77;
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 30px;
}
main .blogcontenu .comment .allcomment div a:hover i,
main .blogcontenu .comment .allcomment div a:hover span{
    color: black;
}
main .blogcontenu .comment .allcomment div i{
    color: #5e6d77;
    margin-right: 10px;
}
.margbot{
    margin-bottom: 50px;
}
.blogcontenu .description .margbot a{
    color: black;
}
.blogcontenu .description .margbot a:hover{
    color: grey;
}

main .blogcontenu .comment .contact .form-control1{
    width: 280px;
    margin-right: 21px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 40px;
    height: 50px;

}
main .blogcontenu .comment .contact .form-control{
    width: 585px;
    height: 75px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 40px;
    color: #989898;
}

main .blogcontenu .comment .contact button{
    background: linear-gradient(to right, #2ca9fb 0%,#2ec0f7 100%);
    border: none;
    color: white;
    padding: 18px 45px;
    margin-left: 2px;
    border-radius: 25px;;
}
main .blogcontenu .comment .contact button:hover{
    background: linear-gradient(to left, #2ca9fb 0%,#2ec0f7 100%);

}

.faq{
    width: 740px;
}

aside.details{
    margin: 100px 0 0;
}

main .blogcontenu .faq ul{
    padding:0;
    margin-bottom: 55px;
}
main .blogcontenu .faq li{
    padding: 10px 20px;
}
main .blogcontenu .faq ul a{
    color:#9c9b9b;
}
main .blogcontenu .faq li.active{
    background: #dfdfdf;
    border-radius: 2px;
}
main .blogcontenu .faq ul a .active{
    color:black;
}
main .blogcontenu .faq li:hover{
    background: #dfdfdf;
    color:black;
}

main .blogcontenu .faq .tableau{
    padding: 25px 0;
    color: #444444;
    font-size: 14px;
    border-top: 1px solid #dadada;
}
main .blogcontenu .faq .tableau:hover{
    background: linear-gradient(to right, white 0%,rgb(245,245,245) 50%, white 100%);
}

main .blogcontenu .faq .tableau.premiertableau{
    border: none;
}

main .blogcontenu .faq .alllinks{
    margin: 125px 0 0 0;
}

main .blogcontenu .faq .alllinks .diflinks{
    display: inline-block;
    margin-bottom: 95px;
    width: 32%;

}
main .blogcontenu .faq .alllinks h4{
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: normal;
    color: #4d4d4d;
}
main .blogcontenu .faq .alllinks .diflinks ul{
    margin-bottom: 0px;
}
main .blogcontenu .faq .alllinks .diflinks li{
    display: block;
    padding: 20px 0 0 0;
    font-size: 14px;
    color: #868686;
}

main .blogcontenu .faq .alllinks .diflinks ul i{
    color: #2b2b2b;
    margin-right: 15px;
}
main .blogcontenu .faq .alllinks .diflinks li:hover{
    background: none;
    color:black;
}

main .blogcontenu .faq .prelast{
    border: 1px solid #aeaeae;
    display: inline-block;
    padding: 20px 27px;
    margin-right: 70px;
    margin-bottom: 20px;
    color:#4d4d4d;
    transition: 500ms;
}
main .blogcontenu .faq a:hover .prelast{
    background: rgb(240, 240, 240);
}

main .blogcontenu .faq .last{
    display: inline-block;
    color: #4d4d4d;
    transition: 200ms;
}
main .blogcontenu .faq a:hover .last{
    transform: scale(1.05)
}



