@import "common/utils/_variables.scss";
@import "common/utils/_outils.scss";

body{
    background: linear-gradient($blue,$light-blue);
    background-repeat: no-repeat;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 25px ;
    img{
        width: 55px;
    }
    .hamburger{
        width: 35px;
        span{
            display: block;
            background: $white;
            width: 100%;
            height: 3px;
            border-radius: 100px;
            margin-bottom: 11px;
        }
        .meat{
            width: 50%;
            margin-left: 50%;
        }
    }
}
main{
    display: flex;
    flex-direction: column;
}

/*____________________________________________________
Produit
_____________________________________________________*/
.produit{
    color: $white;
    font-size: 15px;
    position: relative;
    margin-bottom: 70px;
    padding: 0 25px;
    h1{
        font-weight: bold;
        margin:0;
    }
    h2{
        font-weight: 300;
        margin: 0;
    }
    .slider{
        display: flex;
        justify-content: space-between;
        width: 27px;
        span{
            display: block;
            width: 7px;
            height: 7px;
            background: rgba($white,0.5);
            border-radius: 50%;
            &.active{
                background: $white;
            }
        }
    }
    img{
        width: 280px;
        position: absolute;
        left: 50%;
        transform: translateX(-140px);
        top: 40px;
    }
}

/*____________________________________________________
Contenu
_____________________________________________________*/
.contenu{
    background: $white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 500px;
    padding: 70px 20px;
    .prix{
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        p{
            font-weight: 700;
            font-size: 30px;
            margin: 0;
            span{
                font-size: 18px;
            }
        }
        .color{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80px;
            span{
                width: 18px;
                height: 18px;
                display: block;
                border-radius: 50%;
                &.blue{
                    background: $blue;
                }
                &.grey{
                    background: $grey;
                }
                &.rose{
                    background: $rose;
                }
                &.active{
                    width: 20px;
                    height: 20px;
                    border: 3px solid $white;
                    box-shadow: 0px 0px 10px $blue;
                }
            }
        }
    }
    .description{
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: $dark-grey;
        padding: 25px 0;
    }
    .size{
        margin-bottom: 30px;
        h4{
            margin: 20px 0;
        }
        ul{
            margin: 0;
            padding: 0;
            display: inline-flex;
            justify-content: space-between;
            li{
                list-style-type: none; 
                font-size: 18px;
                font-weight: 700;
                color: $light-grey;
                padding-left: 20px;
                &:first-child{ 
                    padding-left: 0px;
                }
                &.active{
                    color: $black;
                }
            }
        }
    }
    button{
        width: 100%;
        background: linear-gradient(to right,$blue,$dark-blue);
        border: none;
        color: $white;
        padding: 15px 0;
        border-radius: 15px;
        font-size: 18px;
        font-weight: 700;
    }
}

/*____________________________________________________
Adaptation a écran paysage
_____________________________________________________*/
@media (min-width: 600px) {
    main{
        flex-direction: row;
    }
    .produit{
        width: 35%;
        font-size: 20px;
        h2{
            margin-bottom: 20px;
        }
        img{
            width: 340px;
            left:25px;
            transform: none;
            top: 85px;
        }
    }
    .contenu{
        padding: 40px 25px 0 170px;
        .description{
            display: none;
        }
        .size{
            h4{
                text-align: right;
                margin-bottom: 10px;
            }
        }
    }
}